/* ============================================ */

/* ------ General Content ------*/

*{
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Inter', sans-serif;
    
}

body, html {
    background-color: #F5F6F8;
}

:root{
    --font-color-white: #FFFFFF;
    --font-color-black: #292929;
    --font-color-grey: #989898;
    --font-color-red: #EA4D55;
    --background-sidebar-hover: #FEF2F3;
    --button-color-red: #D62C35;
    --button-color-yellow: #FDBE1B;
    --button-color-blue: #2181E8;
}

/* ------ End General Content ------*/

/* ============================================ */


/* ============================================ */

/* ------ Side Bar Content ------*/

#side-bar-content .sub-menu{
    margin-top: 40px;
    color: var(--font-color-grey);
    font-size: 14px;
}

#side-bar-content .side-bar-menu-item{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--font-color-grey);
    font-size: 14px;
}

.logout-icon{
    color: var(--font-color-grey);
}

.menu-item:hover .sidebar-icon{
    background-color: var(--button-color-red);
}

#side-bar-content .side-bar-menu-item .dashboard,
#side-bar-content .side-bar-menu-item .lecturer-devotion,
#side-bar-content .side-bar-menu-item .lecturer-profile,
#side-bar-content .side-bar-menu-item .lecturer-assignment,
#side-bar-content .side-bar-menu-item .lecturer-list,
#side-bar-content .side-bar-menu-item .superadmin-profile,
#side-bar-content .side-bar-menu-item .superadmin-devotion,
#side-bar-content .side-bar-menu-item .superadmin-assignment,
#side-bar-content .side-bar-menu-item .superadmin-lecturer,
#side-bar-content .side-bar-menu-item .superadmin-report{
    :hover{
        background-color: var(--background-sidebar-hover);
        color: var(--font-color-red);
        border-radius: 8px;
    }
}

#side-bar-content .side-bar-menu-item .active{
    background-color: var(--background-sidebar-hover);
    color: var(--font-color-red);
    border-radius: 8px;
}

/* ------ End Side Bar Content ------*/

/* ============================================ */



/* ============================================ */

/* ------ Dropdown Content ------*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    height: 45px;
    cursor: pointer;
    color: var(--font-color-white);
    background-color: #292929 !important;
    font-size: 14px !important;
}

.dropdown-menu {
    display: block;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: var(--font-color-white);
    border: none;
    box-shadow: 0 8px 16px rgba(197, 197, 197, 0.25);
    width: 100%;
    font-size: 14px;
    padding: 8px;
    color: var(--font-color-grey);
}

.dropdown-menu-item {
    padding: 10px 0;
    cursor: pointer;
}

.dropdown-menu-item:hover {
    background-color: #FAFAFA;
    border-radius: 6px;
}

.dropdown-period {
    position: relative;
    display: inline-block;
}

.dropdown-period .dropdown-period-menu {
    display: block;
    position: absolute;
    top: 115%;
    left: 0;
    background-color: var(--font-color-white);
    border: none;
    box-shadow: 0 8px 16px rgba(197, 197, 197, 0.25);
    width: 100%;
    font-size: 14px;
    padding: 8px;
    color: var(--font-color-grey);
    list-style: none;
    text-decoration: none;
    z-index: 999;
}

.dropdown-period .dropdown-period-menu-item {
    padding: 8px 0;
    cursor: pointer;
}

.dropdown-period .dropdown-period-menu-item:hover {
    background-color: #FAFAFA;
    border-radius: 6px;
}

/* ------ End Dropdown Content ------*/

/* ============================================ */



/* ============================================ */

/* ------ Login Content ------*/

#login-content{
    position: relative;
    background: #FFFFFF;
}

#login-content .login-background{
    position: absolute;
    height: 100vh;
    width: 1000px;
}

#login-content .form-login{
    height: 100vh;
    align-items: center;
}

#login-content .form-login img{
    width: 180px;
}

#login-content .form-login h1{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
    color: var(--font-color-black);
}

#login-content .form-login p{
    margin-top: 8px;
    font-size: 14px;
    color: var(--font-color-grey);
}

#login-content .form-login .form-input{
    margin-top: 40px;
}

#login-content .form-login .form-input .form-control{
    font-size: 14px;
    color: var(--font-color-black);
    height: 45px;
}

#login-content .form-login .form-btn-login{
    margin-top: 40px;
}

#login-content .form-login .form-btn-login button{
    width: 100%;
    background-color: var(--button-color-red);
    border: 1px solid #D62C35;
    border-radius: 8px;
    font-size: 16px;
}

/* ------ End Login Content ------*/

/* ============================================ */


/* ============================================ */

/* ------ Lecture Profile Content ------*/

#lecturer-profile-content{
    margin-top: 20px;
    height: 100vh;
}

#lecturer-profile-content .row{
    max-width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

#lecturer-profile-content .profile-personal{
    margin-top: 12px;
}

#lecturer-profile-content .profile-personal .profile-general-information h5,
#lecturer-profile-content .profile-personal .profile-other-information h5,
#lecturer-profile-content .profile-personal .profile-contact-information h5{
    font-size: 12px;
    color: var(--font-color-red);
}

#lecturer-profile-content .profile-personal .profile-general-information-describe,
#lecturer-profile-content .profile-personal .profile-other-information-describe,
#lecturer-profile-content .profile-personal .profile-contact-information{
    margin-top: 8px;
}

#lecturer-profile-content .profile-personal .profile-general-information-describe h6,
#lecturer-profile-content .profile-personal .profile-other-information-describe h6,
#lecturer-profile-content .profile-personal .profile-contact-information h6{
    font-size: 10px;
    color: var(--font-color-grey);
}

#lecturer-profile-content .profile-personal .profile-general-information-describe p,
#lecturer-profile-content .profile-personal .profile-other-information-describe p,
#lecturer-profile-content .profile-personal .profile-contact-information p{
    font-size: 14px;
    color: var(--font-color-black);
    margin-top: -5px;
}

#lecturer-profile-content .profile-personal .profile-other-information,
#lecturer-profile-content .profile-personal .profile-contact-information{
    margin-top: 20px;
}

#lecturer-profile-content .education-history{
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    height: auto;
}

#lecturer-profile-content .education-history h6{
    margin-top: 8px;
    font-size: 12px;
    color: var(--font-color-black);
}

#lecturer-profile-content .education-history h5{
    font-size: 14px;
    font-weight: 700;
    color: var(--font-color-black);
}

#lecturer-profile-content .education-history p{
    font-size: 12px;
    color: var(--font-color-grey);
}

#lecturer-profile-content .history-table-head{
    margin-top: 12px;
    padding: 16px 12px;
}

#lecturer-profile-content .history-table-head h1{
    margin: auto 0;
    font-size: 14px;
    font-weight: 700;
}

#lecturer-profile-content .history-table-body{
    margin-top: 12px;
    padding: 16px 12px;
}

#lecturer-profile-content .history-table-body p{
    margin: auto 0;
    font-size: 14px;
}

#update-profile-content{
    margin-top: 20px;
    height: 100%;
    margin-bottom: 20px;
}

#update-profile-content .update-profile-title h1{
    font-size: 16px;
    font-weight: 700;
    margin: auto 0;
    color: var(--font-color-black);
}

#update-profile-content .form-update-profile{
    margin-top: 20px;
}

#update-profile-content .form-update-profile h1{
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    color: var(--font-color-black);
}

#update-profile-content .form-control{ 
    height: 45px;
}

/* ------ End Lecture Profile Content ------*/

/* ============================================ */



/* ============================================ */

/* ------ Research Content ------*/

#research-content{
    margin-top: 20px;
    height: 100vh;
}

#research-content .add-research-content button{
    width: 100%;
    padding: 8px 10px;
    background-color: var(--button-color-red);
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

#research-content .research-table-content{
    margin-top: 16px;
    padding: 8px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

#research-content .research-table-content .table-head,
.detail-research-wrapper .research-table-content .table-head{
    padding: 16px;
}

#research-content .research-table-content .table-head h6,
.detail-research-wrapper .research-table-content .table-head h6{
    font-size: 14px;
    font-weight: 700;
    margin: auto 0;
    color: var(--font-color-black);
}

#research-content .research-table-content .table-body{
    padding: 16px;
    align-items: center;
    margin-top: -15px;
}

#research-content .research-table-content .table-body h6{
    font-size: 14px;
    margin: auto 0;
    color: var(--font-color-black);
}

#research-content .research-table-content .table-body .view img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--button-color-blue);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

#research-content .research-table-content .table-body .edit img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--button-color-yellow);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

#research-content .research-table-content .table-body .delete img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--button-color-red);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

#research-content .add-research-content .form-search::placeholder{
    color: #E0E0E0;
}

#add-research-content,
#update-research-content,
#detail-research-content{
    margin-top: 20px;
    height: 100vh;
}

#add-research-content .add-research-title h1,
#update-research-content .update-research-title h1,
#detail-research-content .detail-research-title h1{
    font-size: 16px;
    font-weight: 700;
    margin: auto 0;
    color: var(--font-color-black);
}

#add-research-content .form-research,
#update-research-content .form-research,
#detail-research-content .form-research{
    margin-top: 20px;
}

#add-research-content .form-research h1,
#update-research-content .form-research h1{
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    color: var(--font-color-black);
}

#add-research-content .form-research .form-research-input,
#update-research-content .form-research .form-research-input{
    margin-top: 20px;
}

#add-research-content .form-research .form-research-input .form-control,
#update-research-content .form-research .form-research-input .form-control{ 
    height: 45px;
}

#detail-research-content .detail-research-wrapper h6{
    font-size: 14px;
    color: var(--font-color-grey);
}

#detail-research-content .detail-research-wrapper p{
    font-size: 16px;
    color: var(--font-color-black);
}

/* ------ End Research Content ------*/

/* ============================================ */
